In [ ]:
list = [10,20,5,15,16]

total = sum(list)

average = total/len(list)

print("Sum of list: ", total)
print("Average of list: ", average)

Sum of list:  66
Average of list:  13.2

In [ ]:
def is_palindrome(string):

 string= string.lower()

 return string == string[::-1]

word = input("Enter the string: ")

if is_palindrome(word):
 print("Palindrome")

else:
  print("Not Palindrome")

Enter the string: Madam
Palindrome

In [ ]:
students = {
    "Ali": 82,
    "Sara": 74,
    "Ahmed": 91,
    "Zoya": 68,
    "Khan": 77
}

print("Students scoring above 75:")

for name, marks in students.items():
    if marks > 75:
        print(name, ":", marks)

Students scoring above 75:
Ali : 82
Ahmed : 91
Khan : 77

In [ ]:
numbers = [45, 12, 89, 34, 23]

ascending = sorted(numbers)

descending = sorted(numbers, reverse=True)

print("Original list:", numbers)
print("Ascending order:", ascending)
print("Descending order:", descending)

Original list: [45, 12, 89, 34, 23]
Ascending order: [12, 23, 34, 45, 89]
Descending order: [89, 45, 34, 23, 12]